@keyframes kolor {
    from {
        filter: drop-shadow(0 0 3px red);
    }

    to {
        filter: drop-shadow(0 0 3px magenta);
    }
}

a {
    animation-name: kolor;
    animation-duration: 3s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    font-weight: bolder;
    opacity: 0.77;
    text-decoration: none;

    color: greenyellow;
    font-stretch: ultra-expanded;
}

a:hover {
    background-color: black;
    filter: saturate(2);
    opacity: 1;

    box-shadow: 0px 0px 50px 0px red;
}


@keyframes skala {
    0% {
        transform: perspective(3000px) rotateX(10deg) rotateY(11deg) translateZ(130px) translateY(80px);
    }

    100% {
        transform: perspective(3019px) rotateX(-11deg) rotateY(-10deg) translateZ(160px) translateY(80px);
    }
}

.bg {
    background-image: url("https://cdn.wallpapersafari.com/14/40/jwluik.jpg");
    position: relative;
    width: 70%;
    height: fit-content;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    vertical-align: middle;
    align-content: space-evenly;
    justify-content: center;

    transform-style: preserve-3d;
    animation-name: skala;
    animation-duration: 14s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;



}


.element {
    transform: translateZ(100px);
    border: black 1px solid;
    transition: ease-in-out 0.88s;
    height: fit-content;
    white-space: nowrap;
    padding: 0px;
    text-align: center;
    align-self: center;
    filter: blur(0.7px);
    margin: 0px auto;
    opacity: 0.9;
    font-size: 1vw;
}






.element:hover {
    transform: translateZ(300px) scaleX(1.22);
    border-width: 4px;
    filter: saturate(1.33);
    filter: blur(0);
    opacity: 1;
}


img{
    height: 6rem;
}

h1{
    word-wrap: break-word;
}